
html {
	background: url(../images/zurich-pic.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}


/*--------START-QUIZ-SECTION--------*/

/*
input {
	vertical-align: middle;
	margin-right: 10px;
}
*/


.start-quiz {
	top: 50px;
	padding-top: 10px;
	padding-bottom: 15px;
	width: 640px;
	margin-top: 20px;
	margin-left: 600px;
	border-radius: 8px;
	background: rgba(60, 60, 60, 0.2);
	min-height: 100%;
	font-family: 'Amatic SC';
    margin-left: auto;
    margin-right: auto;
}

.text-box {
	text-align: center;
	font-size: 26px;
	padding-left: 10px;
	padding-right: 10px;
}

.quiz-title {
	text-align: center;
	font-size: 48px;
	letter-spacing: 0.1em;
	height: 100%;
}


.begin-button {
	text-align: center;
	background: rgba(60, 60, 60, 0.5);
	border: none;
	border-radius: 5px;
	width: 130px;
	height: 30px;
}

/*--------QUIZ-QUESTIONS-SECTION--------*/


.quiz-questions {
	top: 50px;
	padding-top: 10px;
	padding-bottom: 15px;
	width: 640px;
	margin-top: 20px;
	margin-left: 600px;
	border-radius: 8px;
	background: rgba(60, 60, 60, 0.2);
	min-height: 100%;
	font-family: 'Amatic SC';
    margin-left: auto;
    margin-right: auto;
}

/*
.text-box {
	text-align: center;
	font-size: 23px;
}
*/


/*
.quiz-title {
	text-align: center;
	font-size: 48px;
	letter-spacing: 0.1em;
	height: 100%;
}
*/

.restart-button {
	text-align: center;
	background: rgba(60, 60, 60, 0.5);
	border: none;
	border-radius: 5px;
	width: 130px;
	height: 30px;
}

#stats {
	display: inline-block;
	height: 100%;
	width: 650px;
	text-align: center;
}

#quest-number {
	display: inline-block;
	width: 45%;
	height: 15px;

}


#quiz-score {
	display: inline-block;
	width: 45%;
	height: 15px;

}

#q-and-a {
	margin-left: 40px;
	padding-top: 15px;
}

#question {
	height: 36px;
}


#choices {
	display: inline-block;
}


/*--------END-QUIZ-SECTION--------*/

.end-quiz {
	top: 50px;
	padding-top: 10px;
	padding-bottom: 15px;
	width: 640px;
	margin-top: 20px;
	margin-left: 600px;
	border-radius: 8px;
	background: rgba(60, 60, 60, 0.2);
	min-height: 100%;
	font-family: 'Amatic SC';
    margin-left: auto;
    margin-right: auto;
}

/*
.text-box {
	text-align: center;
	font-size: 23px;
}
*/


/*
.quiz-title {
	text-align: center;
	font-size: 48px;
	letter-spacing: 0.1em;
	height: 100%;
}
*/


#results-text {
	text-align: center;
}

.try-again-button {
	text-align: center;
	background: rgba(60, 60, 60, 0.5);
	border: none;
	border-radius: 5px;
	width: 130px;
	height: 30px;
}




/*

.container {
	padding: 15px 0 18px 18px;
	position: relative;
	width: 586px;
	height: 400px;
	min-height: 100%;
	background-color: rgba(153, 153, 153, 0.7);
	top: 110px;
	left: 100px;
	border-radius: 5px;
}

*/