
html {
	background: url(../images/zurich-pic.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}


body {
	text-align: center;
}



/*-----QUESTION BOX-----*/





#text-container {
	text-align: center;
	top: 50px;
	padding-top: 10px;
	padding-bottom: 15px;
	padding-left: 15px;
	padding-right: 15px;
	width: 640px;
	margin-top: 20px;
	margin-left: 600px;
	border-radius: 8px;
	background: rgba(60, 60, 60, 0.2);
	min-height: 100%;
	font-family: 'Amatic SC';

}

#quiz-title {
	font-size: 48px;
	letter-spacing: 0.1em;
	height: 100%;
}

#text {
	text-align: center;
	font-size: 23px;
}



.button {
	text-align: center;
	background: rgba(60, 60, 60, 0.5);
	border: none;
	border-radius: 5px;
	width: 130px;
	height: 30px;
}




/*

.container {
	padding: 15px 0 18px 18px;
	position: relative;
	width: 586px;
	height: 400px;
	min-height: 100%;
	background-color: rgba(153, 153, 153, 0.7);
	top: 110px;
	left: 100px;
	border-radius: 5px;
}

*/