
html {
	background: url(/Users/christopherjohnson/projects/thinkful/thinkful-projects/quiz-app/images/zurich-pic.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;

}


body {
}

/*-----QUESTION BOX-----*/

input {
	vertical-align: middle;
	margin-right: 10px;
}


#text-container {
	top: 50px;
	padding-top: 10px;
	padding-bottom: 15px;
	width: 640px;
	margin-top: 20px;
	margin-left: 600px;
	border-radius: 8px;
	background: rgba(60, 60, 60, 0.2);
	min-height: 100%;
	font-family: 'Amatic SC';
    margin-left: auto;
    margin-right: auto;


}

#quiz-title {
	text-align: center;
	font-size: 3rem;
	letter-spacing: 0.1em;
	height: 100%;


}

#stats {
	display: inline-block;
	height: 100%;
	width: 650px;
	text-align: center;
}


#quest-number {
	display: inline-block;
	width: 45%;
	height: 15px;
	font-size: 1.4rem;
}


#quiz-score {
	display: inline-block;
	width: 45%;
	height: 15px;
	font-size: 1.4rem;
}

#q-and-a {
	margin-left: 40px;
	padding-top: 15px;

}

#question {
	font-size: 1.4rem;
	height: 36px;

}


#poss-answer-a {
	height: 15px;
	min-height: 100%;
	font-size: 1.3rem;
}

#poss-answer-b {
	height: 15px;
	font-size: 1.3rem;
}

#poss-answer-c {
	height: 15px;
	font-size: 1.3rem;
}

#poss-answer-d {
	height: 15px;
	font-size: 1.3rem;
}

#poss-answer-e {
	height: 15px;
	font-size: 1.3rem;

}

#restart-button {
	text-align: center;

}

.button {
	text-align: center;
	background: rgba(60, 60, 60, 0.5);
	border: none;
	border-radius: 5px;
	width: 130px;
	height: 30px;
}




/*

.container {
	padding: 15px 0 18px 18px;
	position: relative;
	width: 586px;
	height: 400px;
	min-height: 100%;
	background-color: rgba(153, 153, 153, 0.7);
	top: 110px;
	left: 100px;
	border-radius: 5px;
}

*/